/**
 * @name KDA-Cord
 * @description Made with love by Yukii :3
 * @author Azariel#0004
 * @version 1.0.0
 * @authorId 202740603790819328
 * @donate https://www.tipeeestream.com/princessakari/donation
 * @source https://raw.githubusercontent.com/PrincessAkira/kda-discord/main/KDA.theme.css
 * @updateUrl https://raw.githubusercontent.com/PrincessAkira/kda-discord/main/KDA.theme.css
 */

:root {
    --main-color: #f1f1f1;
    --text-link: rgb(211, 28, 171) !important;
    --bg-src: url(https://i.imgur.com/YCvC1MW.png);
    --transparent: transparent !important;
    --top-font: 'Open Sans Condensed', sans-serif;
    --background-primary: transparent !important;
    --background-secondary: transparent !important;
    --background-tertiary: transparent !important;
    --background-secondary-alt: transparent !important;
    --background-accent: transparent !important;
    --background-floating: transparent !important;
    --kda-margin: 30px;
    --kda-color: rgba(0, 0, 0, 0.6587);
    --kda-popout: rgba(0, 0, 0, 0.87);
    --kda-border-size: 25px;
    --channeltextarea-background: rgba(0, 0, 0, 0.87);
    --scrollbar-auto-track: rgba(0, 0, 0, 0);
    --scrollbar-auto-thumb: rgba(0, 0, 0, 0);
    --scrollbar-thin-thumb: rgba(0, 0, 0, 0);
    --kda-version: "1.0.3";
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body {
    background-color: var(--transparent);
}

#app-mount {
    background-image: var(--bg-src) !important;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.colorStandard-2KCXvj,
.colorHeaderSecondary-3Sp3Ft,
.colorHeaderPrimary-26Jzh-,
.input-cIJ7To,
.contents-18-Yxp {
    color: white;
}

.anchor-3Z-8Bb {
    color: purple;
}

.app-1q1i1E,
.app-2rEoOp,
.bg-h5JY_x,
.outer-1AjyKL.interactive-3B9GmY,
.topSectionPlaying-1J5E4n {
    background: none;
}

.outer-1AjyKL.active-1xchHY,
.headerPlaying-j0WQBV,
.inset-3sAvek,
.header-2BwW8b,
.footer-2gL1pp,
.headerNormal-T_seeN,
.paymentPane-3bwJ6A,
.body-3iLsc4,
.footer-1fjuF6,
.topSectionSpotify-1lI0-P,
.header-QKLPzZ,
.tabBarContainer-1s1u-z,
.paginator-166-09,
.payment-xT17Mq,
.container-1D34oG {
    background: none !important;
}

.inset-3sAvek:hover,
.outer-1AjyKL.interactive-3B9GmY:hover {
    background-color: rgba(0, 0, 0, 0.6587);
}

.tooltipContent-bqVLWK,
.emojiSection-3Fb9ix,
.container-2dqNWc,
.streamPreview-2-WUWT {
    background-color: rgba(0, 0, 0, 0.6587) !important;
    text-align: center;
    border-radius: var(--kda-border-size);
}

.chat-3bRxxu {
    border-radius: var(--kda-border-size);
}

.container-UC8Ug1 {
    border-radius: var(--kda-border-size);
    background-color: black;
}

.outer-1AjyKL.interactive-3B9GmY:hover {
    background-color: var(--kda-color);
}

.itemCard-v9viV7:hover,
.peopleListItem-2nzedh:hover {
    background-color: var(--kda-color) !important;
    border-radius: var(--kda-border-size);
}

.popout-38lTFE,
.popouts-2bnG9Z {
    background-color: var(--kda-popout) !important;
}

.backdrop-1wrmKB,
.backdropWithLayer-3_uhz4 {
    margin: 30px;
    background-color: rgba(0, 0, 0, 2) !important;
    border-radius: var(--kda-border-size);
}

.inner-1ilYF7 {
    margin: 10px;
    background-color: var(--kda-color);
    border-radius: var(--kda-border-size);
}

.headerFill-adLl4x {
    background-color: rgba(102, 29, 174, 0.69) !important;
}

.contentWrapper-SvZHNd,
.layerContainer-yqaFcK {
    background-color: var(--kda-popout);
}

.input-cIJ7To.focused-1mmYsC,
.input-cIJ7To:focus {
    border-color: rebeccapurple !important;
}

.lookFilled-1Gx00P.colorGrey-2DXtkV,
.lookLink-9FtZy-.colorPrimary-3b3xI6,
.background-1QDuV2,
.formNotice-2_hHWR {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: var(--kda-border-size);
}

.autocomplete-1vrmpx,
.root-1gCeng,
.modal-yWgWj- {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-radius: var(--kda-border-size);
}

.selected-1Tbx07 {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.uploadModal-2ifh8j,
.footer-3mqk7D {
    background-color: var(--kda-color) !important;
    border: none !important;
}

.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: rebeccapurple;
}

.option-96V44q:after {
    border: none;
    background: none !important;
}

.option-96V44q:hover {
    border-radius: 20px;
    border: none;
}

.menu-3sdvDG,
.userPopout-3XzG_A,
.colorDefault-2K3EoJ.focused-3afm-j {
    background-color: rgba(0, 0, 0, 0.9) !important;
    border-radius: var(--kda-border-size);
}

.container-3ayLPN,
.embedWrapper-lXpS3L {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-radius: var(--kda-border-size);
}

.paymentHistory-2FXzro,
.codeRedemptionRedirect-1wVR4b {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border: none;
    background: none;
    padding: 20px;
    border-radius: var(--kda-border-size);
}

.codeRedemptionRedirect-1wVR4b {
    text-align: center;
}

.cooldownWrapper-3joyFc {
    margin-top: 11px;
    font-size: 9px;
}

.app-1q1i1E {
    margin: var(--kda-margin);
    background-color: var(--kda-color);
    border-radius: var(--kda-border-size);
}

.container-3RCQyg {
    margin: 0;
}

.message-2qnXI6 {
    margin: 2px;
}

.typeWindows-1za-n7 {
    background: transparent !important;
    height: 18px;
    margin-top: 0px;
    padding-top: 5px;
}

.scrollableContainer-2NUZem {
    margin: 6px;
}

.profile-1eT9hT+.fieldList-21DyL8>.field-1HUseB:not(:first-child) .colorHeaderPrimary-26Jzh- {
    filter: blur(5px);
    transition: filter 0.5s
}

.profile-1eT9hT+.fieldList-21DyL8>.field-1HUseB:not(:first-child):hover .colorHeaderPrimary-26Jzh- {
    filter: blur(0px);
}

.typeWindows-1za-n7>.wordmark-2iDDfm {
    position: static;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    order: 1
}

.typeWindows-1za-n7>.wordmark-2iDDfm:before,
.typeWindows-1za-n7>.wordmark-2iDDfm:after {
    margin-left: 6px;
    font-weight: 600;
    white-space: nowrap;
    order: 1
}

.typeWindows-1za-n7>.wordmark-2iDDfm:before {
    content: "KDA Theme";
    color: rgb(131, 3, 190);
    font-family: var(--top-font);
    font-size: 15px;
    text-shadow: 0 0 3px #000
}

.typeWindows-1za-n7>.wordmark-2iDDfm:after {
    content: var(--kda-version);
    color: rgb(255, 255, 255);
    font-family: var(--top-font);
    font-size: 13px
}

.typeWindows-1za-n7>.wordmark-2iDDfm>svg>path {
    fill: var(--main-color)
}

.typeWindows-1za-n7>.wordmark-2iDDfm>svg {
    -webkit-filter: drop-shadow(0 0 5px var(--main-color));
    filter: drop-shadow(0 0 5px var(--main-color))
}

.winButton-iRh8-Z {
    background-color: var(--kda-color);
    top: -5px;
    width: 50px;
    height: 44px;
}

/*
 * Copied from https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css
 */

.charCounter-7fw40k {
    position: relative;
    z-index: 1;
}

.chatCounter-XOMPsh {
    bottom: auto;
}

.counter-uAzbKp {
    width: 100%;
    height: 35px;
    padding: 0 16px;
    line-height: 35px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    text-align: right;
    font-weight: 500;
}

#EditUploadsToolbar {
    background-color: transparent;
}

/* SUPPORTED PLUGINS -> HideChannels */
.sidebar-2K8pFh.hideElement .container-3baos1 {
    position: absolute;
    overflow: hidden;
}

.sidebar-2K8pFh.hideElement .container-3baos1,
.sidebar-2K8pFh.hideElement .container-3baos1:before {
    background-color: transparent !important;
    border-radius: 0;
    box-shadow: none !important;
}

.popoutRight-1veHKi.noArrow-2foL9g {
    overflow: hidden;
}

.wrapper-2qzCYF {
    background-color: none;
}

/* PRs from jdadounut
*
* https://github.com/PrincessAkira/kda-discord/pull/2/commits/efba5d3121ac8918896df0a5a00043c3b2c0db71
*
*/
